.box1{
    border: black dotted 1px;
    width: 40%;
    height: 200px;
    background-color: blue;
}

.double-box-row{
    margin-top: 10px;
}

.text-style{
    color: blue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
}

.text-style-title{
    color: blue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.resume{
    border-bottom: blue solid 3px;
    font-size: 25px;
    margin-top: 10px;

}

.resume1{
    margin-top: 10px;
}

h6{
    margin-left: 50px;
    padding: 1px;
}

ul{
    margin-left:60px;
    padding:1px;
}

.ind{
    margin-left: 70px;
}
p, li {
    padding:1px;

}
.line {
    text-decoration: blue underline overline;
    padding: 1px;
}